__pycache__/
*.py[cod]
*$py.class

# Віртуальне серидовище
.venv/
venv/
ENV/

.env


poetry.lock

build/
dist/
*.egg-info/

.pytest_cache/
.coverage
htmlcov/

.idea/
.vscode/
frontend/node_modules/
frontend/dist/
docs/wireframes/*.pdf

.DS_Store
Thumbs.db
